
body {
    background-color:#e5e9ef;
    margin: 0 0 40px 0;           
    font-family: "Lato";
}

.profile {
    width: 100%;
    height: auto;
}

.heading {
    color: darkblue;
    font-size: 15px;
}

.heading1 {
    display: inline-block;
}

.heading2 {
    border-bottom: solid yellow;
    padding-bottom: 7px;
    margin: 0 0;
    display: inline-block;
    font-weight: bold;
    font-size: 29px;
}

.intro {
    padding: 20px;
    display: inline;
}

.heading-para {
    letter-spacing: 1px;
    line-height: 150%;
}

.input {
    width: 75%;
    height: 40px;
    font-style: italic;
    font-size: 20px;
    border-color: grey;
    border-width: 1px;
    }

.main-block {
    background-color: white;
    display: inline-block;
    width: 45%;
    padding: 0px 25px;
    position: relative;
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 50px;
}

.side-bar {
    display: inline-block;
    width: 35%;
    position: relative;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 20px
}

.main-guide {
    margin-top: 0;
    background-color: white;
    padding: 0;
    line-height: 25px;
}

.main-note {
    /* why cant we use width% */
    margin-top: 0;
    height: 250px;
    background-color: white;
}

.title1 {
    margin: 0;
    padding: 20px 50px;
    border-bottom: 1px solid #7D6F63;
    display: block;
    transition: background-color .8s;
    font-size: 30px;
}
.title1:hover {
    background-color: yellow;
}

.title2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px
}

.main-note-p {
    line-height: 20px;
    font-size: 15px;
    padding: 0px 25px;
}

.main-note-p a{
    text-decoration: underline;
}

.main-note-p2 {
    text-align: center;
    text-decoration: underline;
}

.main-note a:hover{
    text-decoration: underline;
}

.lists {
    text-decoration: blink;
    line-height: 35px;
}

.lists ul li a {
    color: darkblue;
}

.lists ul li a:hover {
    text-decoration: underline;
}

.lists ul li {
    border-bottom: 1px solid #BDC6D5;
    padding: 10px 0;
}

a {
    color: darkblue;
    text-decoration: none;
}

li {
    list-style-type:none;
}

.lists ul {
    padding: 0;
    font-weight: bold;
}

.dropdown-main { 
    display: flex;
    flex-direction: row;
    text-align: center;
}
.dropwdown-about{
    position: relative;
    text-align: center
    /* float: left; */
}
#dropdown-admission-buttom {
    text-align: left;
}
.dropdown-about-content a {
    display: block;
}
.dropdown-about-content a:hover {
    background-color: darkblue;
}
.dropdown-about-content {
    display: none;
}
.dropdown-about .dropwdown-about-cotent:hover {
    display: block;
}
.dropwdown-admission {
    position: relative;
    display: inline-block;
}
.dropdown-admission-content {
    display: none;
}
.dropdown-admission-content a {
    display: block;
    background-color: yellow;

}
.dropwdown-academics {
    display: inline-block;
}
.dropdown-academics-content a {
    display: block;
}
.dropdown-academics-content {
    display: none;
}
.dropdown-research {
    display: inline-block;
    position: relative;
}
.dropdown-research-content a {
    display: block;
}
.dropdown-research-content {
    display: none;
}

.main-guide div{
    padding: 0;
    padding: 10px;
    padding-left: 40px;
    padding-right: 10px;
}

.main-guide ul {
    margin: 0;
    padding: 0; 
}


.major-links span{
    color: #B8860B;
    padding-left: 25px;
}

.major-links {
    font-weight: bold;
    transition: background-color .8s;
    display: flex;
}

.major-links:hover {
    cursor: pointer;
    background-color: yellow;
}

