
body {
background-color:#e5e9ef;
margin: 0;           
}
nav a {
/* cursor: pointer; */
font-weight: bold;
padding-left: 70px;
display: inline-block;
}   
a :hover {
background-color: yellow
}
/* .lists {
display: inline-block; 
} */
.profile {
width: 100%;
height: auto;
}
.input {
width: 75%;
height: 40px;
font-style: italic;
font-size: 20px;
border-color: grey;
border-width: 1px;
}
.heading {
    color: blue;
    position: relativefixed
}
.intro {
    padding: 20px;
    display: inline;
}
.heading-para {
    letter-spacing: 1px;
    line-height: 150%;
}
.main-block {
    background-color: white;
    display: inline-block;
    width: 45%;
    padding: 40px, 0;
    position: relative;
}
.side-bar {
    display: inline-block;
    width: 45%;
    position: relative;
    vertical-align: top;

}
.main-guide {
   
    margin-top: 0;
    background-color: white;
    padding: 0;
}
.main-note {
    /* why cant we use width% */
    margin-top: 0;
    background-color: white;
}
.title {
    margin: 0;
}
