
body {
background-color:#e5e9ef;
margin: 0;           
}
nav a {
/* cursor: pointer; */
font-weight: bold;
padding-left: 70px;
display: inline-block;
}   
a:hover {
background-color: yellow
}
/* .lists {
display: inline-block; 
} */
.profile {
width: 100%;
height: auto;
}
.input {
width: 75%;
height: 40px;
font-style: italic;
font-size: 20px;
border-color: grey;
border-width: 1px;
}
.heading {
    color: blue;
    position: relative
}
.intro {
    padding: 20px;
    display: inline;
}
.heading-para {
    letter-spacing: 1px;
    line-height: 150%;
}
.main-block {
    background-color: white;
    display: inline-block;
    width: 45%;
    padding: 0px 25px;
    position: relative;
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 50px;
}
.side-bar {
    display: inline-block;
    width: 35%;
    position: relative;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 20px

}
.main-guide {
   
    margin-top: 0;
    background-color: white;
    padding: 0;
    height: 200px;
    line-height: 25px;
}
.main-note {
    /* why cant we use width% */
    margin-top: 0;
    height: 250px;
    background-color: white;
}
.title1 {
    margin: 0;
    padding: 20px 50;
}
.title2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px
}
.main-note-p {
    line-height: 20px;
    font-size: 15px;
    padding: 0px 25px;
}
.main-note-p2 {
    text-align: center;
}
lists li {
    text-decoration: blink;
}
a {
    text-decoration: none;
}


