
* {
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    height: 100vh;
    width: 100vw;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Mali", cursive;
  }
  
  @keyframes move {
   0% {
    background-position: 0 0;
   }
   50% {
    background-position: 100% 0;
   }
  }
  
  .bg {
    background: url(https://sp-webfront.skypixel.com/skypixel/v2/public/website/assets/1535027674204-f6eca6369ec03e70262b58b0e25cda7b.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(12px);
    z-index: -1;
  }
  
  .slogan {
    color: white;
    margin-top: 24px;
    font-size: 36px;
    font-weight: 400;
  }
  
  .mask {
    width: 340px;
    height: 196px;
    animation: move 40s infinite;
    background-image: url(https://sp-webfront.skypixel.com/skypixel/v2/public/website/assets/1535027674204-f6eca6369ec03e70262b58b0e25cda7b.jpg);
    background-size: cover;
    -webkit-mask: url(http://static.w3ctrain.com/upload_cae6fcb079f57792a47202cb67bbc04a-dji-seeklogo.com.svg);
    -webkit-mask-size: cover;
  }